.Button {
    /* background-color: transparent; */
    background-color: transparent;
    border: none;
    color: rgb(247, 243, 243);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    border-radius: 5px;
}

.white{
    color: white;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #dd2828;
}

.Disabled{
    color:rgb(145, 141, 141);
    cursor: not-allowed;
}