.text-primary {
    color: #4e73df!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .35rem;
    word-wrap: break-word;
    border: 1px solid #e3e6f0;
    /* width: 70%; */
    height: 50%;
    min-height: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.card-two-user{
    margin: 1em;
}
.card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.card-body{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
}
