.text-secondary-user-image {
    color: #6c757d!important;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 4px;
}
h4{
    font-size: 1.5em;
    color: #1a202c;
    margin: 0px;
    margin-bottom: 8px;
}
.rounded-circle-user-image {
    border-radius: 50%!important;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 150px;
}
.text-center-user-image {
    text-align: center!important;
}
.flex-column-user-image {
    flex-direction: column!important;
}
.d-flex-user-image {
    display: flex!important;
}
.align-items-center-user-image {
    align-items: center!important;
}


.card-user-image{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .35rem;
    word-wrap: break-word;
    border: 1px solid #e3e6f0;
    /* height: 100%; */
    align-self: stretch;
    min-height: 150px;
    flex: 30%;
    min-width: 30%;
    margin-right: 1em;
}
.card-header-user-image{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
.card-body-user-image{
    padding: 1em;
}
.card-user-image-fifty{
    flex: 50%;
    margin: 1em;
}

@media screen and (max-width:500px){
    .card-user-image{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: .35rem;
        word-wrap: break-word;
        border: 1px solid #e3e6f0;
        /* height: 100%; */
        width: 100%;
        min-height: 150px;
        min-width: 30%;
        margin-bottom: 1em;
    }
}